{% load staticfiles %}
<!doctype html>
<html>
  <head>

    <title>SendMeForm</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "css/mui.min.css" %}" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="{% static "messages.css" %}">
     {% block css %}
     
     {% endblock %} 

  </head>
  <body>
    {% block body %}
    
    {% endblock %}
  </body>
    {% block js %}
        <script src="{% static "js/mui.min.js" %}"></script>
        <script src="{% static "admin/js/vendor/jquery/jquery.min.js" %}"></script>
    
    {% endblock %}
</html>